{% extends 'home/base.html' %} {% block title %} Task List {% endblock %} {% load static %} {% block content %}
<div class="container mt-4 mb-4">
    <div class="center mb-2">
        <p class="section-heading ">Feedback Questions</p>
    </div>
    <hr>
    <a class="btn btn-success" href="{%url 'home:create_task'%}">New Feedback Question</a>
    <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Sr. No.</th>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td scope="row">{{ forloop.counter }}</td>
                <td>
                    {{task.note_title}}
                </td>
                <td>
                    {% if task.is_done %}
                    Done
                    {% else %}
                    Remaining
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-primary" href="{%url 'home:edit_task' pk=task.id%}">Edit</a>
                    <a class="btn btn-danger" href="{%url 'home:delete_task' pk=task.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}